@font-face {
    font-family: 'RuneScape Small';
    src: local('RuneScape Small'),
            url('RuneScape-Small.woff2') format('woff2'),
    url('RuneScape-Small.woff') format('woff'),
    url('RuneScape-Small.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
